<!DOCTYPE html>
<html>
  <head>
    <html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="bg-background md:mx-10">
    <div class="bg-background w-full p-8 flex items-baseline justify-between">
      <div class="">
        <img src="/images/logo.svg" alt="" class="h-[20px] w-auto">
      </div>
      <div class="md:hidden">
        <img src="/images/hamburger-icon.svg" alt="" class="h-[20px] w-auto">
      </div>
    </div>
    <div class="mx-10">
      <div class="mt-10">
        <div class="text-4xl md:text-6xl  font-headings text-charx-primary">
          The Future of Technology
        </div>
        <div class="text-base font-body text-charx-secondary py-3">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Natus, est! Qui porro eum assumenda omnis sed aperiam beatae quis consequuntur!
        </div>
        <div class="mt-7">
          <img src="/images/hero-section.jpg" alt="" class="rounded-lg w-full">
          <div class="body-texts py-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui dolor blanditiis quaerat nam voluptatum error voluptate expedita alias eligendi? Sequi odio veritatis error consequuntur cumque quae doloremque animi fugiat numquam?
          </div>
          <div class="flex items-baseline justify-around">
            <div>
              
            </div>
          </div>
        </div>
      </div>


    </div>


  </body>
</html>


