@import 'tailwindcss';

@font-face {
    font-family: SpaceGrotesk-Bold;
    src: url(/fonts/SpaceGrotesk-Bold.ttf);
}

@font-face {
    font-family: Inter-Regular;
    src: url(/fonts/Inter_24pt-Regular.ttf);
}

@theme {
    /* fonts */
    --font-headings: SpaceGrotesk-Bold;
    --font-body: Inter-Regular;

    /* colors */
    --color-background: #FAFAFA;
    --color-primary: #2E4057;
    --color-secondary: #66A182;
    --color-accent:  #BF1363;



}

@layer components {

    .body-texts {
       @apply text-base font-body text-primary;
    }

    .blog-title {
        @apply text-primary font-headings text-xl py-2;
    }

    .blog-date {
        @apply text-base md:text-lg font-body text-primary;
    }

    .blog-author {
        @apply text-base md:text-lg font-headings text-primary;
    }

    .blog-category {
        @apply p-2 mt-4 inline rounded-lg text-base uppercase md:text-lg my-4 font-headings bg-accent text-background;
    }
    .blog-image {
        @apply rounded-lg w-full h-auto aspect-3/2 object-cover;
    }
    .icons-footer {
        @apply aspect-square w-10 h-auto;
    }
}