@import 'tailwindcss';

@font-face {
    font-family: SpaceGrotesk-Bold;
    src: url(/fonts/SpaceGrotesk-Bold.ttf);
}

@font-face {
    font-family: Inter-Regular;
    src: url(/fonts/Inter_24pt-Regular.ttf);
}

@theme {
    /* fonts */
    --font-headings: SpaceGrotesk-Bold;
    --font-body: Inter-Regular;

    /* colors */
    --color-background: #1F2937;
    --color-charx-primary: #F9FAFB;
    --color-charx-secondary: #9CA3AF;
    --color-accent: #00FFD1;
    --color-primary: #4B3A2D;
    --color-secondary: #D7C4A3;

}

@layer components {

    .body-texts {
       @apply text-base font-body text-charx-secondary;
    }

}